[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"
dockerContext = "backend"

[deploy]
startCommand = "./docker-entrypoint.sh"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
